doctype html
html(lang="en")
  head
    title ThreeJS
    link(rel="stylesheet" href="main.css")
  body
    div#introTHREE
    script(src="libs/Tween.js" type="text/javascript")
    script(src="libs/three.js" type="text/javascript")
    script(src="libs/stats.min.js" type="text/javascript")
    script(src="libs/dat.gui.js" type="text/javascript")
    script(src="app.js" type="text/javascript")
